.App {
  font-family: 'Roboto', sans-serif; /* Use a global font */
  background-color: #f8f8f8; /* Set a light background for the page */
  color: #333; /* Default text color */
  margin: 0;
  padding: 0;
}

section {
  padding: 40px 20px;
}

section#history, section#project-vision {
  background-color: #fff;
}

section#roadmap {
  background-color: #f0f0f0;
}

section#tokenomics {
  background-color: #fff;
}

section#merchandise {
  background-color: #f0f0f0;
}

section#games {
  background-color: #fff;
}

section#social-media {
  background-color: #f0f0f0;
}
